.wrapper {
  position: relative;
  @media (min-width: 768px) {
    height: 540px;
  }
  @media (min-width: 1440px) {
    height: 580px;
  }
}

.slide {
  --slideName-height: 62px;
  --folder-bg-color: #fffba6;

  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    --slideName-height: 72px;

    position: absolute;
    top: var(--slideName-height);
    left: 0;
    width: 100%;

    .slideName {
      position: absolute;
      top: calc(var(--slideName-height) * -1);
      left: 0;
    }

    &:nth-child(1) {
      z-index: 5;
      --folder-bg-color: #fffba6;
      .slideName {
        &::after {
          content: '';

          position: absolute;
          left: 0;
          bottom: 0;
          translate: 0 100%;
          width: 20px;
          height: 20px;
          background-color: var(--folder-bg-color);
        }
      }
    }
    &:nth-child(2) {
      z-index: 4;
      --folder-bg-color: #fff27d;
      .slideName {
        translate: 210px 0;
      }
      .slideContent {
        border-top-left-radius: 16px;
      }
    }
    &:nth-child(3) {
      z-index: 3;
      --folder-bg-color: #ffe866;
      .slideName {
        translate: 430px 0;
      }
      .slideContent {
        border-top-left-radius: 16px;
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      .edgeIconSm {
        position: absolute;
        left: 1px;
        bottom: 0;
        translate: -100% 0;
        rotate: 180deg;
        fill: var(--folder-bg-color);
      }
    }
  }

  @media (min-width: 1024px) {
    --slideName-height: 62px;
    &:nth-child(2) {
      .slideName {
        translate: 250px 0;
      }
    }
    &:nth-child(3) {
      .slideName {
        translate: 500px 0;
      }
    }
  }

  @media (min-width: 1440px) {
    width: 840px;
    height: 500px;
    &:nth-child(1) {
      top: calc(var(--slideName-height) + 30px);
    }
    &:nth-child(2) {
      top: calc(var(--slideName-height) + 15px);
      left: 140px;
      .slideName {
        translate: 100px 0;
      }
    }
    &:nth-child(3) {
      left: auto;
      right: 0;
      .slideName {
        translate: 195px 0;
      }
    }
  }

  + .slide {
    margin-left: 8px;
    @media (min-width: 768px) {
      margin: 0;
    }
  }
}

.slideOpen {
  @media (min-width: 768px) {
    z-index: 6 !important;
    .slideContent {
      opacity: 1;
    }
  }
  @media (min-width: 1440px) {
    .slideSpoilers {
      opacity: 1;
    }
  }
}

.slideContent {
  padding: 24px 12px 12px;
  background-color: var(--folder-bg-color);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  flex-grow: 1;
  @media (min-width: 768px) {
    padding: 24px;
    opacity: 0;
  }
  @media (min-width: 1440px) {
    opacity: 1;
  }
}

.slideName {
  position: relative;
  background-color: var(--folder-bg-color);
  text-align: center;
  height: var(--slideName-height);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  padding: 0 12px 0 24px;
  border-top-left-radius: 16px;
  cursor: pointer;
  @media (min-width: 768px) {
    width: 190px;
    padding: 0 0 0 6px;
  }
  @media (min-width: 1024px) {
    width: 240px;
  }
  span {
    position: relative;
    z-index: 2;
    @media (min-width: 768px) {
      translate: 10px 0;
    }
  }
}

.edgeIconLg {
  position: absolute;
  right: 25px;
  top: 0;
  height: calc(100% + 24px);
  translate: 100% 0;
  fill: var(--folder-bg-color);
  @media (min-width: 768px) {
    height: 104px;
  }
  @media (min-width: 1440px) {
    height: 91px;
  }
}

.slideSpoilers {
  position: relative;
  z-index: 2;
  background-color: var(--color-white);
  padding: 32px 26px 17px;
  border-radius: 24px;
  height: 100%;
  @media (min-width: 768px) {
    padding: 40px 40px 25px;
  }
  @media (min-width: 1440px) {
    opacity: 0;
  }
  h3 {
    margin-bottom: 24px;
    @media (min-width: 768px) {
      margin-bottom: 32px;
    }
    @media (min-width: 1440px) {
      margin-bottom: 38px;
    }
  }
}

// spoiler
.isSpoiler {
  + .isSpoiler {
    border-top: 1px solid var(--color-grey);
  }
  .spoilerTitle {
    svg {
      @media (min-width: 768px) {
        display: block;
        rotate: none;
        flex: 0 0 17px;
        //transition: rotate 0.17s ease-out;
      }
    }
  }
}

.spoilerTitle {
  padding: 12px 0;
  cursor: pointer;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  svg {
    display: none;
  }
}

.spoilerWrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.spoilerContent {
  padding-bottom: 15px;
}

.spoilerOpen {
  .spoilerTitle {
    svg {
      @media (min-width: 768px) {
        rotate: -180deg;
      }
    }
  }
}
