.wrapper {
  background-color: var(--color-light);
  padding: 64px 0;
  @media (min-width: 1024px) {
    padding: 70px 0 24px;
  }
  @media (min-width: 1600px) {
    padding: 80px 0 36px;
  }
}

.logo {
  width: 273px;
  color: var(--color-blue);
  @media (min-width: 1440px) {
    width: 414px;
  }
}

.subtitle {
  color: var(--color-blue);
  margin-top: 16px;
  @media (min-width: 1440px) {
    font-size: 24px;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 48px;
  @media (min-width: 768px) {
    margin-top: 80px;
  }
  @media (min-width: 1440px) {
    display: block;
  }
}

.writeBtn {
  display: flex;
  align-items: center;
  gap: 20px;
  @media (min-width: 1024px) {
    gap: 24px;
  }
  @media (max-width: 768px) {
    span {
      font-size: 15px;
    }
  }
}
.writeIcon {
  --write-icon-size: 60px;
  width: var(--write-icon-size);
  height: var(--write-icon-size);
  flex: 0 0 var(--write-icon-size);
  @media (min-width: 768px) {
    --write-icon-size: 70px;
  }
  @media (min-width: 1440px) {
    --write-icon-size: 92px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 48px;
  @media (min-width: 768px) {
    grid-template-columns: 302px 1fr;
    gap: 46px;
  }
  @media (min-width: 1024px) {
    grid-template-columns: 273px 1fr;
    gap: 77px;
  }
  @media (min-width: 1440px) {
    grid-template-columns: 442px 1fr;
    gap: 37px;
  }
  @media (min-width: 1700px) {
    grid-template-columns: 442px 69.54%;
    gap: 0;
    justify-content: space-between;
  }
}

.whiteBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--color-white);
  padding: 32px;
  border-radius: 24px;
  @media (min-width: 768px) {
    padding: 48px;
  }
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 232px auto;
    justify-content: space-between;
    gap: 90px 40px;
  }
  @media (min-width: 1440px) {
    grid-template-columns: minmax(280px, 404px) auto auto;
    gap: 54px;
    padding: 54px;
  }
  @media (min-width: 1700px) {
    padding: 64px;
  }
}

.col {
  h2 {
    margin-bottom: 20px;
    @media (min-width: 1024px) {
      margin-bottom: 24px;
    }
    @media (min-width: 1440px) {
      margin-bottom: 40px;
    }
  }

  p + p {
    margin-top: 16px;
  }
  nav a + a {
    display: block;
    margin-top: 4px;
    @media (min-width: 768px) {
      margin-top: 8px;
    }
  }
}

.qrCodeImg {
  width: 183px;
  height: 183px;
  @media (min-width: 1440px) {
    width: 160px;
    height: 160px;
    margin: 0 auto;
  }
}

.mainBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (min-width: 1440px) {
    gap: 20px;
    justify-content: space-between;
  }
}
