.section {
  padding: 16px;
  height: 100vh;
  min-height: 740px;
  max-height: 900px;
  @media (min-width: 768px) {
    padding: 20px;
  }
  @media (min-width: 1440px) {
    height: 100vh;
    min-height: 900px;
    max-height: 1020px;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background: linear-gradient(
    175.32deg,
    #0371ff 3.75%,
    #2c90ff 23.15%,
    #4abaff 48.97%,
    #7dd6ff 67.63%,
    #d8f8ff 98.28%
  );
  color: var(--color-white);
  padding: 24px 0 20px;
  height: 100%;
  user-select: none;
  overflow: hidden;
  @media (min-width: 1440px) {
    padding: 24px 0;
  }
  @media (min-width: 1600px) {
    padding: 32px 0 24px;
  }
}

.container {
  position: relative;
  z-index: 2;
  max-width: 1244px;
  width: 100%;
  margin: 0 auto;
  padding: 0 14px;
  @media (min-width: 768px) {
    padding: 0 20px;
  }
  @media (min-width: 1024px) {
    padding: 0 58px;
  }
}

.logoWrap {
  margin: 0 auto;
  flex-grow: 1;
}
.logo {
  width: 238px;
  @media (min-width: 1024px) {
    width: 273px;
  }
  @media (min-width: 1440px) {
    width: 330px;
  }
}

.title {
  position: relative;
  z-index: 2;
  text-align: center;
  // margin-top: 118px;
  margin-bottom: 58px;
  @media (min-height: 800px) and (max-width: 767px) {
    margin-bottom: 80px;
  }
  @media (min-width: 768px) {
    // margin-top: 136px;
    margin-bottom: 48px;
  }
  @media (min-width: 1024px) {
    margin-bottom: 72px;
  }
  @media (min-width: 1440px) {
    // margin-top: 150px;
  }
}

.slide {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(100px);
  padding: 24px;
  border-radius: 24px;
  + .slide {
    margin-left: 10px;
    @media (min-width: 1024px) {
      margin-left: 48px;
    }
    @media (min-width: 1440px) {
      margin-left: auto;
    }
  }
  p {
    margin-top: 16px;
  }
  @media (min-width: 768px) {
    padding: 20px;
    flex: 0 0 calc(33.33% - 13.33px);
  }
  @media (min-width: 1024px) {
    padding: 0;
    background: none;
    backdrop-filter: none;
    flex: 0 0 calc(33.33% - 32px);
  }
  @media (min-width: 1440px) {
    flex: 0 0 328px;
  }
}

.carouselLoop {
  margin-top: 30px;
  @media (min-height: 800px) and (max-width: 767px) {
    margin-top: 40px;
  }
  @media (min-width: 1024px) {
    margin-top: 64px;
  }
  @media (min-width: 1440px) {
    margin-top: 90px;
  }
  @media (min-width: 1600px) {
    @media (min-height: 950px) {
      margin-top: 115px;
    }
  }
}

.capIcon {
  position: absolute;
  top: 7%;
  left: 0;
  width: 140px;
  height: 140px;
  @media (min-height: 800px) and (max-width: 767px) {
    top: 10%;
  }
  @media (min-width: 768px) {
    top: 28px;
    left: 50px;
    width: 230px;
    height: 230px;
  }
  @media (min-width: 1440px) {
    top: 30px;
    left: 48px;
    width: 255px;
    height: 255px;
  }
  @media (min-width: 1600px) {
    right: 300px;
    height: 300px;
  }
}

.humanIcon {
  position: absolute;
  top: 8%;
  right: -35px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  @media (min-height: 800px) and (max-width: 767px) {
    top: 12%;
  }
  @media (min-width: 768px) {
    top: 52px;
    right: 12px;
    width: 140px;
    height: 140px;
  }
  @media (min-width: 1440px) {
    top: 90px;
    right: 15px;
    width: 190px;
    height: 190px;
  }
  @media (min-width: 1600px) {
    top: 120px;
    right: 58px;
    width: 230px;
    height: 230px;
  }
}

.mouseIcon {
  position: absolute;
  top: 40%;
  right: -35px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  @media (min-height: 800px) and (max-width: 767px) {
    top: 46%;
  }
  @media (min-width: 768px) {
    width: 140px;
    height: 140px;
    top: 38%;
    right: 0;
  }
  @media (min-width: 1440px) {
    top: 410px;
    right: 50px;
    width: 170px;
    height: 170px;
  }
  @media (min-width: 1600px) {
    top: 430px;
    right: 10%;
    width: 220px;
    height: 220px;
  }
}

.folderIcon {
  display: none;
  @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: 36%;
    left: 0;
    width: 125px;
    height: 125px;
  }
  @media (min-width: 1024px) {
    top: 38%;
    width: 145px;
    height: 145px;
  }
  @media (min-width: 1440px) {
    top: 390px;
    width: 190px;
    height: 190px;
  }
  @media (min-width: 1600px) {
    top: 510px;
    width: 230px;
    height: 230px;
  }
}
