.slide {
  //margin-left: 8px;
  flex: 0 0 calc(100% - 32px);
  @media (min-width: 400px) {
    flex: 0 0 340px;
  }
  @media (min-width: 768px) {
    //margin-left: 24px;
    margin-left: 8px;
    flex: 0 0 410px;
  }
}

.slideWrapper {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  height: 420px;
  @media (min-width: 768px) {
    height: 520px;
  }
}

.tag {
  position: absolute;
  left: 12px;
  bottom: 12px;
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    left: 20px;
    bottom: 20px;
  }
  span {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--color-white);
    border-radius: 30px;
    color: var(--color-black);
    font-weight: 600;
    width: fit-content;
    max-width: 300px;
    @media (min-width: 768px) {
      padding: 8px 20px;
    }
  }
}

.text {
  padding: 0 var(--container-padding-x);
  text-align: center;
  margin-top: 64px;
  margin-bottom: 24px;
  @media (min-width: 768px) {
    margin-top: 40px;
    margin-bottom: 32px;
  }
  p {
    margin-top: 16px;
  }
}
