.link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  transition: color 0.2s ease-out;
  &:hover {
    color: var(--color-blue);
    .arrow {
      rotate: -45deg;
    }
  }
}

.arrow {
  width: 16px;
  height: 16px;
  rotate: none;
  transition: rotate 0.2s ease-out;
}
