@use 'sass:math';

// Переменные
:root {
  --container-padding-x: 16px;

  --color-white: #ffffff;
  --color-black: #181818;
  --color-blue: #0a66dd;
  --color-blue-light: #f0f7fb;
  --color-light: #f8f8f8;

  @media (min-width: 768px) {
    --container-padding-x: 40px;
  }
  @media (min-width: 1024px) {
    --container-padding-x: 78px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  scrollbar-gutter: stable;
}

img,
video,
canvas,
svg {
  display: block;
}

input,
input::placeholder,
textarea,
textarea::placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

input {
  width: 100%;
  float: left;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: inherit;
  &::placeholder {
    color: inherit;
  }
  &:focus,
  &._fill {
    outline: none;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-ms-clear {
    display: none;
  }
}

button {
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  user-select: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  &:disabled {
    cursor: default;
  }
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ol,
ul {
  padding: 0;
}

ol[role='list'],
ul[role='list'],
ol[role='listbox'],
ul[role='listbox'] {
  list-style: none;
}

.container {
  max-width: 1286px;
  width: 100%;
  margin: 0 auto;
  padding-left: var(--container-padding-x);
  padding-right: var(--container-padding-x);
}
.container-lg {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-left: var(--container-padding-x);
  padding-right: var(--container-padding-x);
}

html,
body,
.custom-scrollbar {
  &::-webkit-scrollbar {
    background-color: var(--color-white);
    width: 4px;
    height: 4px;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--color-white);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-light);
    border-radius: 2px;
  }
  // для firefox
  scrollbar-color: var(--color-light) var(--color-white);
  scrollbar-width: thin;
}

main {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1920px;
}

::selection {
  //color: #fff;
  background: #b3d4fc;
}
::-moz-selection {
  //color: #fff;
  background: #b3d4fc;
}

body {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-black);
  @media (min-width: 1440px) {
    font-size: 16px;
    line-height: 1.5;
  }
}
main {
  padding-top: var(--header-height);
  overflow: hidden;
  margin: 0 auto;
  max-width: 1920px;
}

// ==================== Текст ====================
.h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
  @media (min-width: 768px) {
    font-size: 48px;
  }
  @media (min-width: 1024px) {
    font-size: 56px;
  }
  @media (min-width: 1440px) {
    font-size: 80px;
  }
}

.h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
  @media (min-width: 1024px) {
    font-size: 36px;
  }
  @media (min-width: 1440px) {
    font-size: 48px;
  }
}

.h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
  @media (min-width: 1024px) {
    font-size: 26px;
  }
  @media (min-width: 1440px) {
    font-size: 36px;
  }
}

.h4 {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.1;
  @media (min-width: 1024px) {
    font-size: 24px;
  }
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  @media (min-width: 1440px) {
    font-size: 20px;
  }
}

// embla
.embla {
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  user-select: none;
}
