.whiteBlock {
  position: relative;
  padding: 32px;
  border-radius: 24px;
  background-color: var(--color-white);
  h2 {
    @media (min-width: 768px) {
      max-width: 390px;
    }
  }
  p {
    margin-top: 32px;
  }
  h2,
  p {
    @media (min-width: 1024px) {
      max-width: 56.75%;
    }
    @media (min-width: 1440px) {
      max-width: 600px;
    }
  }
  @media (min-width: 768px) {
    padding: 72px 64px;
  }
  @media (min-width: 1024px) {
    padding: 84px 64px 64px;
  }
  @media (min-width: 1440px) {
    padding: 84px 64px;
  }
}

.pillowImg {
  width: 100%;
  max-width: 274px;
  margin: 0 auto;
  margin-top: 24px;
  display: block;
  transition-duration: 0.7s;
  transition-timing-function: ease-out;
  transition-property: rotate, scale;

  rotate: none;
  scale: 1;

  @media (min-width: 768px) {
    position: absolute;
    top: -104px;
    right: 0;
    margin: 0;
    width: 236px;
    height: 233px;
    max-width: none;
  }
  @media (min-width: 1024px) {
    top: 50%;
    right: 63px;
    translate: 0 -50%;
    width: 288px;
    height: 285px;
  }
  @media (min-width: 1440px) {
    right: 90px;
    width: 313px;
    height: 309px;
  }

  &:hover {
    rotate: 16deg;
    scale: 1.07;
  }
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
  margin-top: 24px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  @media (min-width: 1440px) {
    gap: 24px;
  }
}

.blueItem {
  position: relative;
  p {
    margin-top: 32px;
    @media (min-width: 768px) {
      margin-top: 24px;
    }
    @media (min-width: 1440px) {
      margin-top: 50px;
    }
  }

  &:nth-child(3) {
    @media (min-width: 768px) {
      grid-column: span 2;
    }
    @media (min-width: 1024px) {
      grid-column: span 1;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    border-radius: 24px;
    transform-origin: 80% 0;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-property: translate, rotate;
    background: radial-gradient(
        107.79% 75.52% at 52.09% 23.51%,
        #ccff7f 0%,
        #8dffb9 38.62%,
        #99ffed 87.94%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  }
}

.blueInner {
  position: relative;
  z-index: 5;
  padding: 32px;
  border-radius: 24px;
  background-color: var(--color-blue);
  color: var(--color-white);
  height: 100%;
  user-select: none;
  transform-origin: 80% 0;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: translate, rotate;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.blueItem:hover {
  .blueInner {
    rotate: 5.27deg;
    translate: 14px 10px;
    @media (min-width: 768px) {
      rotate: 6.27deg;
      translate: 20px 32px;
    }
  }
  &::before {
    rotate: -2.69deg;
    translate: 0 -10px;
    @media (min-width: 768px) {
      rotate: -2.69deg;
      translate: 0 -10px;
    }
  }
}
