.dots {
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-top: 14px;
  @media (min-width: 768px) {
    display: none;
  }
}

.slideTag {
  margin-left: 8px;
  padding: 12px 32px;
  background-color: var(--color-white);
  border-radius: 30px;
  color: var(--color-black);
  flex: 0 0 auto;
}
