.spoiler {
  + .spoiler {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--color-grey);
    @media (min-width: 1440px) {
      margin: 0;
      padding: 0;
      border: none;
    }
  }
  &:nth-child(2) {
    @media (min-width: 1600px) {
      .title {
        max-width: 330px;
      }
    }
  }
}

.title {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1439px) {
    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20stroke%3D%22%233a3a3a%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%20d%3D%22m6%209%206%206%206-6%22%2F%3E%3C%2Fsvg%3E');
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  @media (min-width: 1800px) {
    font-size: 36px;
  }
}

.wrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.45s ease;
  @media (min-width: 1440px) {
    height: auto !important;
  }
}

.inner {
  padding-top: 24px;
  p {
    margin-top: 24px;
  }
}

.open {
  .title::after {
    rotate: -180deg;
  }
}
