.grid {
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @media (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

.slide {
  + .slide {
    margin-left: 8px;
    @media (min-width: 768px) {
      margin-left: 10px;
    }
    @media (min-width: 1024px) {
      margin: 0;
    }
  }
  @media (min-width: 450px) {
    flex: 0 0 424px;
  }
  @media (min-width: 1024px) {
    margin: 0;
  }
}

.progress {
  margin-top: 24px;
  @media (min-width: 1024px) {
    display: none;
  }
}
